<%- include("templates/encabezado.ejs", {titulo: "Inicio"}) %>

<%
    var a = 8
    var b = 10
    var c = a+b
    var texto = "Esto es un texto"
%>

<%= c %>

<a href="/info/<%= c %>">enviar datos</a>
<ul>
    <% artistas.forEach(function(artista) { %>
        <li><%= artista %></li>
    <% }) %>
</ul>

<p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam voluptas facere voluptate, quia qui 
alias vel tempore sunt itaque, sint nesciunt! Similique magni laborum tempora! Quia dolorem voluptatum
</p>
<br>
<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias eius veritatis quam nobis labore 
illum eveniet, ea laborum aperiam temporibus voluptas, reprehenderit itaque alias, veniam rem iste ar.
</p>

</div>

<%- include("templates/pie.ejs") %>